name: release

on:
  release:
    types: [released]

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  pypi:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    needs: test
    environment: release
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install -U pip uv
          python -m uv pip install --system hatch

      - name: Build package
        run: |
          hatch build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
